[submodule "SCIBORG/caspo"]
	path = SCIBORG/src/caspo
	url = git@github.com:mathieubolteau/caspo.git
[submodule "SCIBORG/pyBRAvo"]
	path = SCIBORG/src/sciborg/pyBRAvo
	url = git@github.com:mathieubolteau/pyBRAvo.git
